.container-joao {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 1250px;
    display: flex;
    align-content: space-around;
    font-family: Arial, Helvetica, sans-serif;

}

.section-joao {
    margin-top: 125px;
    margin-right: 100px;
}

.article-joao {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 25px;
    padding: 50px;
    margin-top: 175px;
    margin-left: 250px;
    margin-right: 100px;
    line-height: 50px;
}

.image-joao {
    width: 900px;
    margin-left: 165px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    padding: 20px;
   }


.title-joao {
    text-align: center; 
    font-size: 4em;
    color:white;
    background-color: #FF4D4D;
    border: 2px solid #FF4D4D;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.description-joao {
    text-align: center;
    font-size: 2em;
    color: #4B5C7F;
}

@media (min-width: 1024px) {
    
    
    .image-joao{
        width: 350px;
        margin-left: 475px;
    }

    .article-joao{
        margin-top: 100px;
    }

    .section-joao{
        margin-top: 50px;
    }
} 

