
*{
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.container{
    height: 100h;
    margin: 0vh;
    padding: 0vh;
    width: 100%;
    align-items: center;
}
header{
    width: 100%;
    height: 10vh;
    margin-bottom: 5vh;
    background-color: burlywood;
}
footer{
    height: 10vh;
    margin-top: 5vh;
    width: 100%;
    background-color: burlywood;
}
.page-title{
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-top : 0vh;
    margin-bottom: 5vh;
}
.carousel{
    max-width: 1200px;
    height: 60vh;
    margin-top : 0vh;
    margin-bottom: 5vh;
    padding: 0 30px;
    margin-left:5%;
    margin-right:5%;
}
.card{
    height: 50vh;
    margin-top : 0vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    border:solid 2px rgb(177, 177, 177);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.owl-dots{
    height: 5vh;
    margin-top : 0vh;
    margin-bottom: 0vh;
    text-align: center;
}
.card-header{
    background-color: cadetblue;
    background-image:url("https://www.planetware.com/photos-large/JPN/japan-mt-fuji-and-cherry-blossoms.jpg");
    background-size: 100% 100%;
    height: 30vh;
    margin-top : 0vh;
    margin-bottom: 2.5vh;
}
.card-description{
    height: 15vh;
    color: rgb(10, 8, 8);
    text-align: center;
    font-size: 50px;
    margin-top : 0vh;
    margin-bottom: 0vh;
}
.card-title{
    height: 8vh;
    margin-top : 0vh;
    margin-bottom: 2vh;
    color: rgb(10, 8, 8);
    text-align: center;
    padding: 0px;
}
.card-type{
    height: 5vh;
    color: rgb(105, 105, 105);
    text-align: center;
    margin: 0px;
    padding:  0px;
    font-size: 25px;
}

.owl-dot{
  height: 15px;
  width: 45px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #0072bc!important;
}